* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

html {
	box-sizing: border-box;
}

body {
	font-size: 16px;
}

html,
body {
	position: relative;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
