// Media queries
@mixin breakpoint($size) {
	@if $size == small {
		@media (min-width: 30em) { @content; }
	} @else if $size == medium {
		@media (min-width: 50em) { @content; }
	} @else if $size == large {
		@media (min-width: 64em) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}

// Clearfix
%clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

// State mixin
@mixin state($class) {
	&[class*="--#{$class}"] {
		@content;
	}
}
